@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Nunito", sans-serif;
  @apply bg-[#f6f6f6];
}

.container {
  @apply max-w-[1200px] px-4 mx-auto;
}

.common-shadow {
  box-shadow: 0 2px 4px #00000012;
}

.hover-shadow {
  box-shadow: 0 5px 15px #0000004d;
}

/* Button */
.primary-btn {
  @apply bg-primary font-extrabold text-white py-[10px] rounded-lg hover:bg-[#d91400] transition;
}

/* Form */
.form-input-label {
  @apply dark:text-bold_black font-extrabold text-sm;
}

/* 404 page */
.not-found-background {
  @apply h-screen w-full relative;
  background: url("/public/assets/images/404/404-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.not-found-foreground {
  @apply h-screen w-full absolute;
  background: url("/public/assets/images/404/404-foreground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Home page */
.home-background {
  @apply w-full aspect-[4.8] relative;
  background: url("/public/assets/images/home/home-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Protion Swiper */

.promotion-swiper {
  @apply mt-20 !mx-14;
}

.promotion-swiper-button-next,
.promotion-swiper-button-prev {
  @apply absolute top-1/2 -translate-y-1/2 right-1 w-10 h-10 bg-[#33333383] hover:bg-[#333333] grid place-items-center rounded-lg cursor-pointer transition;
}

.promotion-swiper-button-prev {
  @apply left-1;
}

/* Pagination */
/* Paginagation */
.pagination .page-link {
  @apply !rounded-lg grid !text-[#333] font-bold text-sm !border-transparent !py-[10px] !px-4 common-shadow;
}

.pagination .page-item.active .page-link {
  @apply bg-primary border-primary !text-white !px-4;
}

.pagination .page-item.disabled .page-link {
  @apply !text-[#ccc];
}

/* Modal */
.react-responsive-modal-root .react-responsive-modal-overlay,
.react-responsive-modal-root .react-responsive-modal-container,
.react-responsive-modal-root .react-responsive-modal-modal {
  animation-fill-mode: initial !important;
}

.react-responsive-modal-modal {
  @apply rounded-sm;
}

.react-responsive-modal-closeButton {
  @apply fill-white;
}

.react-responsive-modal-modal {
  @apply !p-0 !m-0;
}

.customModal {
  @apply rounded-md w-1/2 py-0;
}
